:root {
  --color-accent: oklch(65% 50% 240);
  accent-color: var(--color-accent);
}

html {
  color-scheme: light dark;
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 2rem 1rem;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  ;
}

input,
textarea,
button,
select {
  font: inherit;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

article h2 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

#experience article {
  perspective: 1000px;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 1.5em;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border: 1px solid oklch(80% 3% 200);
  border-radius: 0.5em;
}

#experience article:hover {
  transform: rotateY(180deg);
}

#experience article header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em;
}

#experience article header h3 {
  margin: 0 0 0.5em 0;
}

#experience article header time {
  font-size: 0.9em;
  color: oklch(60% 0% 0);
}

#experience article ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  padding: 1.5em;
  margin: 0;
  padding-left: calc(1.5em + 1.5em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

